/* global.css */

@layer base {
	/* 自定义默认的标签或tailwindcss中未定义的样式--能直接使用自定义的默认值 */
	/* 重置的默认标签--如去除基本默认样式的可以放在这里--个人放在common.css中 */
	/* --alpha 规范颜色的透明度 */
	
	:root {
		/* layout-header-宽度 */
		--sm-header-height: 68px;
		--sm-home-header-height: 124px;
		/* layout-footer-高度 */
		--sm-home-footer-height: 172px;
	}
	/* 滚动条 */
	.trove-scrollbar {
		overflow-y: auto;
		overflow-x: auto;
		scrollbar-width: thin;
		scrollbar-color: #2b008d #070707;
	}
	/* 背景板-斜线条 */
	.bg-stripes {
		background: linear-gradient(
			-45deg,
			rgba(0, 0, 0, 0.7) 25%,
			rgba(0, 0, 0, 0.3) 0px,
			rgba(0, 0, 0, 0.3) 50%,
			rgba(0, 0, 0, 0.7) 0px,
			rgba(0, 0, 0, 0.7) 75%,
			rgba(0, 0, 0, 0.3) 0px
		);
		background-position: 0% 0%;
		background-size: 8px 8px;
	}
}

/* 自定义公共组件和公共样式 */
@layer components {
	/* 居中盒子 */
	section.main {
		@apply w-full max-w-[1440px] mx-auto relative px-5 md:px-8 lg:px-12;
	}

	/* 按钮 */
	/* 主要按钮 */
	button.primary-button {
		@apply flex justify-center items-center gap-1 rounded-lg font-primary font-medium bg-gradient-to-r from-primary to-regular hover:from-primary/50 hover:to-regular/50;
	}
	/* 常规按钮 */
	button.regular-button {
		@apply flex justify-center items-center gap-1 rounded-lg font-primary font-medium bg-primary shadow-lg hover:shadow-primary/70;
	}
	/* 次要按钮 */
	button.secondary-button {
		@apply flex justify-center items-center gap-1 rounded-lg font-primary font-medium border border-white hover:border-primary;
	}
	/* 禁用按钮 */
	button.disabled-button {
		@apply flex justify-center items-center gap-1 rounded-lg font-primary font-medium border border-text-200 text-text-200 hover:cursor-not-allowed;
	}
}
